* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    touch-action: pan-y;
}
h1 {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Microsoft YaHei';
    color: #333;
    background-color: #fff;
}

#root,
.app {
    height: 100%;
}

ul {
    list-style: none;
}